
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@keyframes bake-pie {
  from {

  }
}

body {
  font-family: "Open Sans", Arial;
  background: #BAD8F6;
}
main {
  width: 400px;
  margin: 30px auto;
}

.pieID {
  display: inline-block;
  vertical-align: top;
}
.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 30px 30px 0;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
  margin: 220px auto;
  
}
.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}
.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD,
              2px 2px 0 #BBB;
}
.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 13px;
  background: #DDD;
  padding: 5px 10px;
  margin: 5px;
}
#video {
    width:560px;
    height:315px;
    background-color:blue;
    border:solid;
      border-radius:20px;
      border-color:red;
}

#single {
    display:flex;
    justify-content: center;
    
}
#parent {
     display:flex;
    justify-content: center;
}
 h1{
      text-align:center;
      font-family: 'Economica', sans-serif;
      color:#002699;
      font-size: 70px;
  }
  p{
      font-family: 'Cantarell', sans-serif;
      font-size: 20px;
  }
  .countdown{
      font-size:15px;
      text-align:center;
  }
  #next img {
    height: 40px;
    
}
#next {
  margin-left: 30px;
  
}

#bar {
  display: none;
  margin-top: 30px;
  align-items: center;
  justify-content:space-around;
}
.positive {
    font-family: 'Patua One', cursive;
    font-size:40px;
    margin: 30px;
}
#power:hover {
    box-shadow: 0px 0px 100px #CCCC00;
    color: #CCCC00;
}
#offense:hover {
    box-shadow: 0px 0px 100px red;
    color:red;
}
    .meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	border:10px solid #DBD1CF;

	
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
#whole{
    display:none;
}
#pic1{display:flex;
    justify-content:center;
    
}
#pic{width:775px;
}

#start{display:flex;
    justify-content:center;
    width:750px;
    margin:0 auto;
}

#startbutton{font-family: 'Patua One', cursive;
    font-size:40px;
    margin: 30px;
    width:600px;
    height:100px;
}
#startbutton:hover{ box-shadow: 0px 0px 100px green;
    color: green;
}
input {
    height:37px;
    width:300px;
    font-size:27px;
    text-align:center;
}
#post {
     font-family: 'Patua One', cursive;
    font-size:40px;
    
}
#comments {
    border: solid 1px;
    height: 200px;
    
}
#comment {
    font-size:30px;
     display:flex;
    justify-content: center;
}
#cominput {
  display:flex;
    justify-content: center;
}    


    